@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: white;
    padding-top: 70px;
}

h3{
    color: white;
}

#tentacles {
    width: 50px;
}

#num-contributions, #total-raised, #num-games{
    color: white;
}

#unfunded-btn, #funded-btn, #all-btn{
    cursor: pointer;
}

.header {
  background: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 10px; 

}

.header-text{
    padding: 0; 
    margin: 0; 
    position: relative;
    color: white;
    text-decoration: none;
  }

  .navbar a {
    position: relative;
    font-size: 25px;
    color: white;
    font-weight: 35;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 100px;

  }
  
  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
  }
  
  .navbar a:hover:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    background: white;
  }

  .navbar a:not(:last-child) {
    margin-right: 80px; 
}
  
.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.stats-card {
    background: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8));
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#games-container:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px black;
}

#button-container {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8));
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}